* {
    box-sizing: border-box;
}

Body {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    line-height: 1.8;
    font-size: 15px;
    color:#DFE8E6;
}

img {
    width: 100%;
 }

.section-intro .hline {
    width: 120px;
    height: 2px;
    background-color: rgba(0, 31, 61, 0.1);
    margin: 16px auto 0 auto;
}

.section-intro {
    text-align: center;
    margin-bottom: 10px;
}

.section-break {
    height:60px;
    
}

/*Header Section*/

.navbar {
    background:#4120A9;
}

.header img {
    float: left;
    width: 30px;
    height: 30px;
    background-color: #F8CF40;
    border-radius: 55%;
    border-style: double;
    border-color: #4120A9;
  }

.navbar .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#DAF0F3;
}

.navbar-brand {
    color:#DAF0F3;
    
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #E87A00;
 }

.logo-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #DAF0F3 !important;
}


.nav-link:hover {
    background-color:#DAF0F3;
    border-radius: 15px;
    color: #E87A00;
    cursor: pointer;
    
}

/*Hero Section*/

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
.hero_logo {
    height: 72px;
    width: 72px;
    background-color: #F8CF40;
    border-radius: 55%;
    border-style: double;
    border-color: #4120A9;
}

.hero-section {
    background:#001F3D;
    color: #001F3D;
    background:linear-gradient(#4120A9 15%, #A16AE8, #F6D4D2, rgba(161, 169, 254, 1)
    );
}

.knowmore-btn {
    /*background:#4120A9;*/
    text-decoration: none;
    background-color:#4120A9;
    border-radius:375rem;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    
}

/*About Section*/
#about {
    display: flex;
    flex-wrap: wrap;
    color:  #001F3D;
    display: block;
    align-items: center;
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.filipiniana-img {
    height: 20%;
    width: 20%;
    padding-bottom: 20px;
<<<<<<< HEAD
=======
    padding-top: 0.5px;
>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0
}


/*.continue-btn {
    background-color:  #001F3D;
    border-radius: 10px;
    width:100px;
    padding: 5px 8px;
    color: #DAF0F3;
    text-align: center;
    
}*/

/*Services Section*/

<<<<<<< HEAD
#services {  
    background:#001F3D;
    background:linear-gradient(#4120A9, #A16AE8, #F6D4D2, rgba(161, 169, 254, 1));
    padding-top: 50px;
    color:#DAF0F3;
    
}

#services > h2 {
=======
#services {
    background-color: rgba(0, 31, 61, 1);
    padding-bottom: 50px;
    padding-top: 50px;
}

#services > h2 {
    color:#DAF0F3;
>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0
    text-align: center;
    font-weight: 300;
    padding-top:50px;
}

#services > .section-intro .hline {
    width: 120px;
    height: 2px;
<<<<<<< HEAD
    background-color: rgba(161, 169, 254, 1);
    margin: 16px auto 0 auto;
    
}

.carousel-control-prev-icon {
    background-image: url("../Icons/prev.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    

}
.carousel-control-next-icon {
    background-image: url("../Icons/next.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.carousel-img{
    height: 50%;
    width: 50%;
}
.carousel-caption {
    color:#001F3D;
=======
    background-color: #DAF0F3;
    margin: 16px auto 0 auto;
>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0
}

/* Portfolio */
#portfolio {
    color: rgba(0, 31, 61, 1);
}

.portfolio-item {
    overflow: hidden;
    position: relative;
 }

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 134, 212, 0.5);
    display: flex;
    align-items: flex-end;
    padding: 30px;
    opacity: 0;
}

.portfolio-item img, .portfolio-item .portfolio-overlay {
    transition: all 0.4s ease;
}

.portfolio-overlay h3,
.portfolio-overlay h6 {
   color: #fff;
}

.portfolio-item:hover .portfolio-overlay {
   opacity: 1;
}

.portfolio-item:hover img {
   transform: scale(1.1);
}



/*testimonials*/
#testimonials {
    text-align: center;
    color: #DAF0F3;
    background:#001F3D;
    background:linear-gradient(#4120A9, #A16AE8, #F6D4D2, rgba(161, 169, 254, 1)
    );
    padding-top: 50px;

}

<<<<<<< HEAD
=======
/*testimonials*/
#testimonials {
    text-align: center;
    color: #DAF0F3;
    background-color: rgba(0, 31, 61, 1);
    padding-top: 50px;

}

>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0
#testimonials > .section-intro .hline {
    width: 120px;
    height: 2px;
    background-color: #DAF0F3;
    margin: 16px auto 0 auto;
}

.tes-img {
    width: 300px;
    height: 300px;
    border-radius: 55%;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
    height: 5px;
    background-color:#DAF0F3;
}

.tes-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.tes-description {
    margin-top: 90px;
}

<<<<<<< HEAD
/*Contact Section */

#contact {
    color: rgba(0, 31, 61, 1);
    height:500px;
=======
/*Contact Setion */

#contact {
    color: rgba(0, 31, 61, 1);
>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0
}

.socmed-icons {
    height: 50px;
    width: 50px;
}

.socmed-div {
    padding-top: 50px;
<<<<<<< HEAD
    justify-content: space-evenly;
    
}

.contact-div {
    padding-top: 150px;
}
=======
    
}

>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0


/*footer section*/

footer {
<<<<<<< HEAD
    height: 80px;
    background:linear-gradient(#4120A9, #A16AE8);
    text-align: center;
}

.footer-div1  h6{
    font-size: 14px;
    padding-top: 30px;

}


=======
    background:rgba(0, 31, 61, 1);
    height: 80px;
    text-align: center;
    padding-top: 25px;
}
>>>>>>> 3348f8f7219fe49a7aa095257bd086598f13b5f0
