* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

Body {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    color:#DFE8E6;
    background-color: #F6D4D2;
}


.section-intro .hline {
    width: 120px;
    height: 2px;
    background-color: rgba(0, 31, 61, 0.1);
    margin: 16px auto 0 auto;
}

.section-intro {
    text-align: center;
    margin-bottom: 10px;
}

.section-break {
    height:60px;
}

/*Header Section*/

.navbar {
    background:rgb(65, 32, 169);
}

.navbar .nav-link {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:#DAF0F3;
}

.navbar-brand {
    color:#DAF0F3;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #E87A00;
 }

.logo-text {
    font-size: 22px;
    text-transform: uppercase;
    color: #DAF0F3 !important;
}


.nav-link:hover {
    background-color:#DAF0F3;
    border-radius: 15px;
    color: #E87A00;
    cursor: pointer;

}

/*Hero Section*/

.hero_logo {
    border-radius: 55%;
    height: 72px;
    width: 72px;
}

.home {
    background:#001F3D;
    color: #001F3D;
    background:linear-gradient(#4120A9 15%, #A16AE8, #F6D4D2, #a1a9fe
    );
}

.getStarted-btn {
    text-decoration: none;
    background-color:#4120A9;
    border-radius:375rem;
    padding: 10px 20px;
    color: #DAF0F3;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;

}

/*About Section*/
#about {
    color:  #001F3D;
    align-items: center;
    padding-bottom: 50px;
}

.about-container {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 950px;
    gap: 30px;
}

.filipiniana-img {
    height: 100%;
    width: 100%;
    border-radius:15px;
}

.about-description-container {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.about-description-title {
    font-size: 0.5rem;
}

.about-description {
    font-size: 16px;
}


.filipiniana-img:hover {
    transform: scale(1.05);
    box-shadow:0px 4px 17px 0px #001F3D;
    opacity: 1;
}



/*skills Section*/

#skills {
    background:#001F3D;
    background:linear-gradient(#4120A9, #A16AE8, #F6D4D2, #a1a9fe);
    padding-top: 50px;
    padding: 50px;
    color:#DAF0F3;
}

#skills > h2 {
    text-align: center;
    padding-top:50px;
}

#skills > .section-intro .hline {
    width: 120px;
    height: 2px;
    background-color: #a1a9fe;
    margin: 16px auto 0 auto;

}
.carousel-caption {
    color:#001F3D;
}
.skills-caption-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.skills-img-container {
    width: 500px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-img{
    height: 100%;
    width: 80%;
    overflow: hidden;
}

.carousel-control-prev-icon {
    background-image: url("https://raw.githubusercontent.com/JenBaldonado/images-sources/main/portfolio-images/prev.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.carousel-control-prev-icon:hover {
    width: 50px;
    height: 50px;
}

.carousel-control-next-icon {
    background-image: url("https://raw.githubusercontent.com/JenBaldonado/images-sources/main/portfolio-images/next.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.carousel-control-next-icon:hover {
    width: 50px;
    height: 50px;
}


/* Portfolio */
#portfolio {
    color: rgba(0, 31, 61, 1);
}

.portfolio-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-right: 4px;
    margin-left: 4px;
}

.portfolio-item {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    padding: 8px 10px;
 }

 .portfolio-img {
    width:100%;
    height: 100%;
 }

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(161, 169, 254, 0.8);
    display: flex;
    align-items: flex-end;
    padding: 30px;
    opacity: 0;
}

.portfolio-img, .portfolio-item .portfolio-overlay {
    transition: all 0.4s ease;
}

.portfolio-overlay h3,
.portfolio-overlay h6 {
   color: #fff;
}

.portfolio-item:hover .portfolio-overlay {
   opacity: 1;
}

.portfolio-item:hover img {
   transform: scale(1.05);
}

/*Contact Section */

.contact {
    color: rgba(0, 31, 61, 1);
    height:500px;
    background:linear-gradient(#4120A9, #A16AE8, #F6D4D2, #a1a9fe);
}

.socmed-icons {
    height: 50px;
    width: 50px;
}

.socmed-div {
    padding-top: 50px;
    justify-content: space-evenly;
}

.contact-div {
    padding-top: 150px;
}
.icon-link {
    text-decoration: none;
}


/*footer section*/

footer {
    background:linear-gradient(#4120A9, #A16AE8);
    padding-bottom: 50px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

footer a {
    text-decoration: none;
    color:#DFE8E6;

}

@media screen and (max-width:950px){
    .about-container {
        margin: 0 20px;
    }
}

@media screen and (max-width:650px) {
    .about-description-container {
        padding-top: 10px;

    }

    .section-intro .hline {
        width: 90px;

    }

    #about {
        margin: 0 auto;
    }

    .about-container {
        display:block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
   
    .about-description-container {
        padding-top: 10px;
        margin: 0 20px;
    }

    .filipiniana-img {
        display: block;
        margin: 0 auto;
        height: 33.33%;
        width: 50%;
    }

    #skills > .section-intro .hline {
        width: 90px;
    }

    .skills-img-container {
        width: 200px;
        height: 100px;
    }
    .skills-caption-container{
        width: 180px;
        height: 300px;
    }
}

@media screen and (max-width:280px) {
    .section-intro .hline {
        width: 90px;

    }
    #skills > .section-intro .hline {
        width: 90px;
    }

    .skills-img-container {
        width: 50%;
        height: 100px;
        margin: 0 auto;
    }
    .skills-caption-container{
        display: none;
    }
}